In [2]:
#Steam Games
#Importo Librerias
import pandas as pd
import re

In [4]:
#Asigno al DataFrame el archivo json steam_games.json.gz
#df_sg=pd.read_json('/content/drive/MyDrive/PI_ML_OPS-PT/Dataset/steam_games.json.gz',compression='gzip',lines=True,encoding='utf-8')
df_sg=pd.read_json('./Dataset/steam_games.json.gz',compression='gzip',lines=True,encoding='utf-8')

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
119997,Tripwire Interactive,[Action],Killing Floor,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"[FPS, Zombies, Co-op, Survival, Action, Multip...",http://steamcommunity.com/app/1250/reviews/?br...,"[Single-player, Multi-player, Co-op, Cross-Pla...",19.99,0.0,1250.0,Tripwire Interactive

In [7]:
#Elimino filas totalmente vacias
df_sg.dropna(how='all',inplace=True)

In [8]:
#Busqueda de Id nulos
df_sg[(df_sg['id'].isnull())]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88384,None,None,None,None,http://store.steampowered.com/,None,None,None,None,19.99,0.0,NaN,None
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [9]:
#Busqueda de aplicacion con similar nombre de Id nulo
df_sg[(df_sg['app_name'] == 'Batman: Arkham City - Game of the Year Edition')]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
89378,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260/Batma...,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",http://steamcommunity.com/app/200260/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,200260.0,"Rocksteady Studios,Feral Interactive (Mac)"
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [10]:
#Eliminacion de id nulos
df_sg.dropna(subset=['id'],inplace=True)

In [11]:
#Duplicados
duplicados = df_sg['id'].value_counts() > 1
df_sg[df_sg['id'].isin(duplicados[duplicados].index)]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games
102883,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games

In [12]:
#Eliminación de Duplicados
df_sg.drop_duplicates(subset=['id'],inplace=True)

In [13]:
#Elimino genres vacios
df_sg.dropna(subset=['genres'],inplace=True)

In [14]:
#Búsqueda de nombres de aplicaciones vacias
df_sg[df_sg['app_name'].isnull()]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
90890,None,"[Action, Indie]",None,None,http://store.steampowered.com/app/317160/_/,2014-08-26,"[Action, Indie]",http://steamcommunity.com/app/317160/reviews/?...,"[Single-player, Game demo]",None,0.0,317160.0,None

In [15]:
#Eliminacion de aplicaciones vacias
df_sg.dropna(subset=['app_name'],inplace=True)

In [16]:
#Eliminacion de columnas no necesarias
df_sg = df_sg.drop(columns=['publisher','title','url','reviews_url','early_access','specs','tags','price','developer'])

In [17]:
#Validacion de columnas nulas
df_sg.isnull().sum()

genres           0
app_name         0
release_date    18
id               0
dtype: int64

In [18]:
#Eliminacion de release_date nulas
df_sg.dropna(subset=['release_date'],inplace=True)

In [19]:
#Filtro año de fechas correctas
import re

def filtrar_dataframe_formato_fecha(df, nombre_columna):
    # Definir el patron  regex 'YYYY-MM-DD'
    patron_fecha = re.compile(r'^\d{4}-\d{2}-\d{2}$')

    # Filtrar filas con el correcto formato de fecha
    mask = df[nombre_columna].astype(str).str.match(patron_fecha)
    df_filtrado = df[mask]

    return df_filtrado

df_sg = filtrar_dataframe_formato_fecha(df_sg, 'release_date')

In [20]:
# Convierto id a entero
df_sg['id'] = df_sg['id'].astype('int')

In [21]:
# Convierto fecha a Año
df_sg['release_date'] = pd.to_datetime(df_sg['release_date'], errors='coerce')
df_sg['release_date'] = df_sg['release_date'].dt.year

In [22]:

# Mover la columna 'id' al principio, renombrarla por item_id y cambiar el tipo a int
df_sg.columns.get_loc('id')
nuevas_columnas = ['id'] + [columna for columna in df_sg.columns if columna != 'id']
df_sg = df_sg[nuevas_columnas]
df_sg.rename(columns={'id': 'item_id'}, inplace=True)
df_sg['item_id'] = df_sg['item_id'].astype('int')
# Mostrar las primeras filas del DataFrame con 'id' en la primera posición
df_sg.head()

,item_id,genres,app_name,release_date
88310,761140,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018
88311,643980,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018
88312,670290,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017
88313,767400,"[Action, Adventure, Casual]",弹炸人2222,2017
88315,772540,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018

In [23]:
#Desanidar genres y eliminar columna index
df_sg = df_sg.explode('genres').reset_index()
df_sg = df_sg.drop(columns="index")
df_sg.head()

   item_id      genres             app_name  release_date
0   761140      Action  Lost Summoner Kitty          2018
1   761140      Casual  Lost Summoner Kitty          2018
2   761140       Indie  Lost Summoner Kitty          2018
3   761140  Simulation  Lost Summoner Kitty          2018
4   761140    Strategy  Lost Summoner Kitty          2018

In [30]:
#Obtener generos unicos
#df_generos_diferentes = df_sg['genres'].unique()
#df_generos_diferentes.sort()

In [27]:
# Guardo Dataframe en csv
#df_sg.to_csv('/content/drive/MyDrive/PI_ML_OPS-PT/Dataset/df_sg.csv',index=False)
df_sg.to_csv('./Dataset/df_sg.csv',index=False)

In [29]:
df_sg

       item_id      genres             app_name  release_date
0       761140      Action  Lost Summoner Kitty          2018
1       761140      Casual  Lost Summoner Kitty          2018
2       761140       Indie  Lost Summoner Kitty          2018
3       761140  Simulation  Lost Summoner Kitty          2018
4       761140    Strategy  Lost Summoner Kitty          2018
...        ...         ...                  ...           ...
70694   610660       Indie        Russian Roads          2018
70695   610660      Racing        Russian Roads          2018
70696   610660  Simulation        Russian Roads          2018
70697   658870      Casual  EXIT 2 - Directions          2017
70698   658870       Indie  EXIT 2 - Directions          2017

[70699 rows x 4 columns]